@font-face {
  font-family: "Poppins-SB";
  src: url("../public/fonts/Poppins/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../public/fonts/Poppins/Poppins-Light.ttf");
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  height: 100vh;
  font-family: "Poppins-SB" !important;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: grid;
  grid-template-columns: auto 150px 190px;
  grid-column-gap: 10px;
  height: 75px;
  align-items: center;
  background-color: #fff;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.cta {
  width: 180px;
  height: 56px;
  border-radius: 6px;
  background-color: #0038ff;
  color: #fff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes bounceIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: none;
    transform: none;
  }
  80% {
    opacity: 0;
    -webkit-transform: translate3d(-40%, 0, 0);
    transform: translate3d(-40%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .headlineLogo {
    animation: bounceIn 3s;
  }
}

.headline {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 590px;
  margin: auto;
  font-size: 82px;
  line-height: 76px;
  margin-top: 100px;
}
.headlineLogo {
  font-size: 82px;
  line-height: 76px;
  text-align: center;
  color: #ff7f00;
  width: 600px;
  margin: auto;
}
.headlineContainer {
  animation: bounceIn 2s;
}
.subheadline {
  font-family: "Poppins-Light";
  font-size: 28px;
  width: 600px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-top: 24px;
  animation: fadeInLeft 3s;
}
.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.projects {
  height: 80vh;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title{
  font-family: 'Poppins-SB';
  font-size: 42px;
}


.description {
  font-family: 'Poppins-Light';
  font-size: 24px;
}

.projectsItem{
  display: grid;
  grid-template-columns: 50% auto;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 45%;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
